.footer {
	color: rgb(251, 250, 248);
	background-color: #000000;
	max-height: 500px;
	width: 100dvw;
	padding: 65px 0;

	&_wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;

		font-size: clamp(0.625rem, 0.375rem + 1.25vw, 1.875rem); //20px
		font-weight: 400;
		gap: clamp(1.25rem, 0.625rem + 3.13vw, 4.375rem); //70px
	}
	&_top {
		display: flex;
		justify-content: space-between;
		gap: clamp(0.625rem, 0.375rem + 1.25vw, 1.875rem); //20px

		&_link {
		}
	}
	&_phone {
	}
	&_bottom {
		display: flex;
		justify-content: space-between;

		align-items: center;

		&_map {
			width: clamp(6.25rem, -0.568rem + 34.09vw, 25rem); // 400px 200
			height: clamp(3.125rem, -0.284rem + 17.05vw, 12.5rem); //200px
			background-color: #ffffff;
		}
		&_networks {
			display: flex;
			gap: 15px;
		}
	}
}

@media screen and (max-width: 1920px) {
	.footer {
		padding: clamp(1.25rem, 0.688rem + 2.81vw, 4.063rem) 0;
	}
}
@media screen and (max-width: 768px) {
	.footer {
		&_top {
			// display: flex;
			// flex-direction: column;
		}
		&_bottom {
			display: flex;
			gap: 10px;
			align-items: flex-start;
			&_networks {
				flex-direction: column;
			}
		}
	}
}
